
<section class="wrapper">
<%= render "layouts/flash_messages" %>
    <div class="container">
        <div class="content">
        <p class="title">CodeMemory</p>
        <p class="phrase">CodeMemoryは競技プログラミングの<br class="br-pc">復習を<br class="br-sp">サポートするサービスです</p>
        <div class="top-botton">
        <%= link_to "新規登録",new_user_registration_path,class:"btn btn-danger btn-lg"%>
        <%= link_to "ログイン", new_user_session_path,class:"btn btn-primary btn-lg"%>
        <%= link_to "ゲストログイン", user_guest_sign_in_path,method: :post,class:"btn btn-primary btn-lg" %>
        </div>
    </div>
</section>

<section class="content container">
  
        <p class="content_title"> どんな機能が<br class="br-sp">あるの？</p>

        <div class="card-deck">
          <div class="card text-dark bg-light" style="width: 18rem"> 
            <img src="/assets/post_new.png" class="card-img-top">
            <div class="card-body">
              <h2 class="card-title">記録投稿機能</h2>
              <p class="card-text">自分が解いた問題についての情報を投稿！画像投稿もできるので、<br class="br-pc">解答時のメモも保存可能。</p>
            </div>
          </div>

          <div class="card text-dark bg-light" style="width: 18rem"> 
            <img src="/assets/tag.png" class="card-img-top ">
            <div class="card-body">
              <h2 class="card-title">タグ付け機能</h2>
              <p class="card-text">タグをつけることで問題を類別。<br class="br-pc">また、タグをクリックすると同じ<br class="br-pc">タグのついた問題のみ表示可能！</p>
            </div>
          </div>


          <div class="card text-dark bg-light" style="width: 18rem"> 
            <img src="/assets/output.png" class="card-img-top">
            <div class="card-body ">
              <h2 class="card-title">コメント機能</h2>
              <p class="card-text">問題の解答やポイントを<br class="br-sp">自分で書くことで知識をアウトプット。<br class="br-pc">TeX記法に<br class="br-sp">対応してるので数式表示も可能。</p>
            </div>
          </div>
        </div>


        <div class="card-deck">
          <div class="card text-dark bg-light" style="width: 18rem"> 
              <img src="/assets/review_tags.png" class="card-img-top">
              <div class="card-body">
                <h2 class="card-title">復習済み機能</h2>
                <p class="card-text">復習済みか未復習か表示！<br class="br-pc">クリックすることで<br class="br-sp">切り替え可能。</p>
              </div>
          </div>

          <div class="card text-dark bg-light" style="width: 18rem"> 
              <img src="/assets/graph.png" class="card-img-top">
              <div class="card-body">
                <h2 class="card-title">達成状況表示機能</h2>
                <p class="card-text">何問解いたか,復習はどの程度<br class="br-pc">終わっているかを表示。</p>
              </div>
          </div>

          <div class="card text-dark bg-light" style="width: 18rem"> 
              <img src="/assets/research.png" class="card-img-top">
              <div class="card-body ">
                <h2 class="card-title">検索機能</h2>
                <p class="card-text">コンテスト名,問題名,正誤<br class="br-sp">などで<br class="br-pc">記録を検索できる！</p>
              </div>
          </div>
        </div>
        </p>
    
</section>

<section class="bottom">
    <p>さあ、今すぐ始めよう！</p>
    <div class="bottom-botton"><%= link_to "新規登録",new_user_registration_path,class:"btn btn-danger btn-lg"%></div>
</section>