<h1>記録一覧</h1>
<% if user_signed_in? %>
<%= search_form_for @q do |f|%>
  <%= f.label :contest_name, "コンテスト名"%>
  <%= f.select :contest_contest_name_eq,options_from_collection_for_select(Contest.select(:contest_name).distinct,:id,:contest_name,1)%>
  <%= f.label :contest_number, "コンテストNO."%>
  <%= f.search_field :contest_contest_number_cont%>
  <%= f.label :question_name, "問題名"%>
  <%= f.search_field :question_name_cont %>
  <%= f.submit%>
<% end %>

  <% @tag_list.each do |list|%>
    <%= link_to list.name, search_tag_path(tag_id: list.id) %>
    <%="(#{list.posts.count})" %>
  <% end %>

  <% @posts.each.with_index(1) do |post,i| %>
     <p>
     <%= post.contest.contest_name %><%=post.contest.contest_number%>
     <%= l post.created_at%>
     <%= post.question_name %>
     <%=post.tags.pluck(:name).join('')%>
     <% if post.correct==1%>
      <p>正誤:AC</p>
      <% elsif post.correct==2%>
      <p>正誤:解説AC</p>
      <% elsif post.correct==3%>
      <p>正誤:WA</p>
     <% end %>
     </p>

     <% if post.review_completion.to_i.zero?%>
        <%= render "review_incomplete",post: post%>
      <% else %>
        <%= render "review_complete",post: post%>
        <%= l post.review_date%>
     <%end%>

     <%= link_to "詳細",post_path(post) %>
     <%= link_to "編集",edit_post_path(post)%>
     <%= link_to "削除",post_path(post), method: :delete, data: { confirm: "削除しますか?" } %>

  <% end %>
<% end %>
<%= paginate @posts%>