
<h1 class="index-top">記録一覧</h1>
<% if user_signed_in? %>
<%= search_form_for @q do |f|%>
  <%= f.label :contest_name, "コンテスト名"%>
  <%= f.select :contest_contest_name_eq,options_from_collection_for_select(Contest.select(:contest_name).distinct,:id,:contest_name,1)%>
  <%= f.label :contest_number, "コンテストNO."%>
  <%= f.search_field :contest_contest_number_cont%>
  <%= f.label :question_name, "問題名"%>
  <%= f.search_field :question_name_cont %>
  <%= f.submit%>
<% end %>


<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">コンテスト</th>
      <th scope="col">投稿日</th>
      <th scope="col">問題名</th>
      <th scope="col">タグ</th>
      <th scope="col">正誤</th>
      <th scope="col">復習状態</th>
      <th scope="col">その他</th>


  </thead>
  <tbody>
  <% @posts.each.with_index(1) do |post,i| %>
     <tr>
     <td><%= post.contest.contest_name %><%=post.contest.contest_number%></td>

     <td><%= l post.created_at%></td>

     <td><%= post.question_name %></td>

     <td><% post.tags.each do |tag|%>
        <%= link_to tag.name, search_tag_path(id: tag.id),class:"btn btn-link"%>
     <% end %>
     </td>

     <% if post.correct==1%>
      <td><button type="button" class="btn btn-success" disabled>AC</button></td>
      <% elsif post.correct==2%>
      <td><button type="button" class="btn btn-secondary" disabled>解説AC</button></td>
      <% elsif post.correct==3%>
      <td><button type="button" class="btn btn-warning" disabled>WA</button></td>
     <% end %>


    <% if post.review_completion.to_i.zero?%>
    <td><button type="button" class="btn btn-outline-danger" ><%= render "review_incomplete",post: post%></button></td>
    <% else %>
    <td><button type="button" class="btn btn-outline-success" disabled><%= render "review_complete",post: post%></button>
    <%end%>
    

    <td class="text-nowrap">
     <%= link_to "詳細",post_path(post),class:"btn btn-success"%>
     <%= link_to "編集",edit_post_path(post),class:"btn btn-primary"%>
     <%= link_to "削除",post_path(post), method: :delete, data: { confirm: "削除しますか?" },class:"btn btn-danger"%>
    </td>
  <% end %>
  </tbody>
</table>
<% end %>
<%= paginate @posts%>