  <div class="base-container">
  <%= render "layouts/flash_messages" %>
  <% if @posts.present?%>
    <h1 class="top">検索結果</h1>
  <%= render "result"%>
  <%else%>
    <h1>条件に一致する投稿はありません</h1>
  <%end%>
  <%= paginate @posts%>
  <%= link_to "前の画面に戻る",:back,class:"btn btn-dark"%>
  <%= link_to "一覧に戻る", posts_path,class:"btn btn-dark"%>
</div>