<h1><%= @tag.name %>のタグが付いた問題</h1>

<% @posts.each do |post|%>
  <p>問題名<%= post.question_name %></p>
     <p>会員NO.<%= post.user.id%></p>
     <p>タグ<%=post.tags.pluck(:name).join('')%></p>
     <%= link_to "詳細",post_path(post) %>
     <%= link_to "編集",edit_post_path(post)%>
     <%= link_to "削除",post_path(post), method: :delete, data: { confirm: "削除しますか?" } %>
<% end %>

