<nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color:#0000cd">
<span class="navbar-brand">CodeMemory</span>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
     <%= link_to 'トップページ',toppages_path,class: "nav-item nav-link active" %>
     <% if user_signed_in?%>
          <%= link_to "投稿一覧", posts_path,class: "nav-item nav-link active" %>
          <%= link_to "新規投稿", new_post_path,class: "nav-item nav-link active" %>
          <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown">
            <%= current_user.nickname.present? ? "#{current_user.nickname}":"#{current_user.email}"%>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "ユーザー情報・編集",edit_user_registration_path,class: "dropdown-item" %>
            <%= link_to "達成状況",graphs_path,class: "dropdown-item" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか?"},class: "dropdown-item" %>
          </div>
          </li>
     <% else %>
          <%= link_to "新規登録",new_user_registration_path ,class: "nav-item nav-link active" %>
          <%= link_to "ログイン", new_user_session_path,class: "nav-item nav-link active" %>
          <%= link_to "ゲストログイン", user_guest_sign_in_path,method: :post,class: "nav-item nav-link active" %>
     <% end %>
     </div>
</div>
</nav>